/* site wide styles */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* navbar */
.navbar .nav-item a {
  color: white;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
}

.navbar .fa-sign-out-alt,
.fa-sign-in-alt {
  color: white;
}

.navbar-toggler:focus {
  outline-color: white;
}

/* welcomepage */
.welcomepage {
  background: url("./images/code.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.welcomepage .dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.dropTarget:hover {
  outline-style: dotted;
}
